nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(102, 120, 150, 0.534);
    justify-content: space-between;
    padding: 10px;
}

.title {
    font-size: 40px;
    color: rgb(231, 220, 193);
    text-decoration: underline dotted rgb(230, 205, 205);
}

.add {
    color: rgb(179, 208, 221);
}